.game {
    width: 100%;
    min-height: 300px;
}
.goomba {
    display: block;
    position: absolute;
    background-image: url(../images/goomba.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    bottom: 64px;
    -webkit-animation: shuffle 2s ease-in-out infinite;
    -moz-animation: shuffle 2s ease-in-out infinite;
    -o-animation: shuffle 2s ease-in-out infinite;
    animation: shuffle 2s ease-in-out infinite;
}
.goomba:nth-child(even) {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
.bowser {
    display: block;
    position: absolute;
    background-image: url(../images/bowser.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 128px;
    height: 120px;
    bottom: 64px;
    -webkit-animation: shuffle 1s ease-in-out infinite;
    -moz-animation: shuffle 1s ease-in-out infinite;
    -o-animation: shuffle 1s ease-in-out infinite;
    animation: shuffle 1s ease-in-out infinite;
}
.mario {
    display: block;
    position: absolute;
    background-image: url(../images/mario-small.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 64px;
    width: 48px;
    left: 5%;
    bottom: 64px;
}
.mario.fire-mode {
    background-image: url(../images/mario-fire.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 128px;
    width: 64px;
}
.fire-ball {
    display: block;
    position: absolute;
    background-image: url(../images/fireball.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

@-webkit-keyframes shuffle {
  50% {
     -webkit-transform: translate(40px, 0);
  }
}
@-moz-keyframes shuffle {
  50% {
     -moz-transform: translate(40px, 0);
  }
}
@-o-keyframes shuffle {
  50% {
     -o-transform: translate(40px, 0);
  }
}
@keyframes shuffle {
  50% {
     -ms-transform: translate(40px, 0);
     transform: translate(40px, 0);
  }
}
